@using Microsoft.AspNetCore.Identity
@using SpritzBuddy.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav ms-auto">
@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    var email = user?.Email ?? User.Identity?.Name ?? "User";
    <li class="nav-item">
        <a class="nav-link" asp-controller="Profile" asp-action="Index">Hello, @email!</a>
    </li>
    <li class="nav-item">
        <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-link nav-link text-dark" style="padding:0;">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
</ul>
